@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95% 0 0); /* Slightly darker light grey */
  --color-base-200: oklch(90% 0 0); /* Darker grey */
  --color-base-300: oklch(85% 0 0); /* Even darker grey */
  --color-base-content: oklch(20% 0 0); /* Dark grey for text */
}

/* Custom theme for Tippy tooltips */
.tippy-box[data-theme~='custom'] {
  background-color: hsl(var(--color-base-100) / 1); /* base-100 background */
  border: 1px solid hsl(var(--p) / 1); /* primary color */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: hsl(var(--color-base-content) / 1); /* base content color */
}

.tippy-box[data-theme~='custom'] .tippy-arrow::before {
  background-color: hsl(var(--color-base-100) / 1);
  border: 1px solid hsl(var(--p) / 1);
}

.tippy-box[data-theme~='custom'] .tippy-content {
  padding: 0;
}

/* Optional: Style the prose content inside tooltips */
.tippy-box[data-theme~='custom'] .prose {
  color: hsl(var(--color-base-content) / 0.8); /* slightly muted text */
}

.tippy-box[data-theme~='custom'] .prose strong {
  color: hsl(var(--color-base-content) / 1); /* full opacity for headings */
}

.tab-container {
  display: flex;
  justify-content: space-around; /* Distribute space evenly */
  border-bottom: 1px solid var(--color-base-300);
  background-color: var(--color-base-100);
}

.tab-btn {
  flex: 1; /* Allow each tab to take equal space */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-label {
  transition: max-width 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
}

.table-container {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container h3 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #9544d6; /* Purple color */
}

.table {
  min-width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem 1rem;
  border: 1px solid #000; /* Black border */
  text-align: left;
}

.table th {
  background-color: #f1f5f9; 
  color:#3333e4;
}

.table td.democrat {
  color:#3c99f6;
}

.table .republican {
  color: #fa7e7e; 
}
.table td {
  color: text-black;
}

@media (prefers-color-scheme: dark) {
  .table td {
    color: text-white;
  }
}